:root {
    box-sizing: border-box;
}

html , body , * {
    margin: 0;
    padding: 0;
}
.title {
    padding-top: 10px;
    padding-left: 20px;
    color: yellow;
}

#app {
    height: 100vh;
    background-color: burlywood;
}
.main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.player1 {
    margin-right: 15%;   
    align-items: center; 
    
}
.result {
    width: 180px;
    height: 100px;
    rotate: 90deg;
    transform: rotate(-30deg);
    background-color: darkgreen;
}
.refersh {
    margin-top:50px;
    
}
.com {
    margin-left: 15%;
}