:root {
    box-sizing: border-box;
}

html , body , * {
    margin: 0;
    padding: 0;
}
.title {
    padding-top: 10px;
    padding-left: 20px;
    color: yellow;
}

#app {
    height: 100vh;
    background-color: burlywood;
}

.main {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.player1 {
    display: grid;
    margin-right: 15%;  
    text-align: center; 
}

.boxresult {
    display: grid;
    text-align: center;
}

.vs {
    grid-row: 2;
    color: red;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.result {
    grid-row: 2;
    width: 180px;
    height: 100px;
    rotate: 90deg;
    transform: rotate(-30deg);
    background-color: darkgreen;
}

.com {
    display: grid;
    margin-left: 15%;
    text-align: center;
}
.option:hover {
    border-radius: 10px;
    background-color: grey;
    cursor: pointer;
}

.option:visited {
    background-color: grey;
}

.refresh:hover {
    border-radius: 10px;
    background-color: grey;
    cursor: pointer;

}
.refresh {
    display: grid;
    text-align: center;  
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 48%;
     
  }